*{
    margin : 0;
    padding : 0;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}
/*0F8B8D-blue*/
body{
    background-color: #262626;
    color: white;
    
    
}

#header{
    width:100%;
    height: 150vh;
    background-size: cover;
    background-position: center;
     
}
#logo{
    width:300px;
    margin-left: -100px;
    margin-top: -80px;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}

nav ul li a {
    color:white;
    text-decoration: none;
    font-size:25px;
    position: relative;
    display: inline-block;
    padding-bottom: 6px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 4px;
    background: #0F8B8D;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: width 0.3s ease, left 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

#i-am{
    margin-left: -50px;
}
#typeit-quote {
    color: #0F8B8D;
    font-size:40px;
    
}

.typeit-subtitle {
    margin-top: 25px;
    text-align: right;
    font-size: 50px;
}
.typeit-title {
    text-align: right;
    color: #0F8B8D; 
    font-size: 200px;
}

/* -----------------ABOUT-----------------------------------> */
#about{
    margin-top: -300px;
    margin-left: -100px;
    padding: 80px 0;
    color: white;
}
.row{
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.about-col1{
    flex-basis: 35%;
}
.about-col1 img{
    width :450px;
    height:500px;
    border-radius: 50%;
    margin-left: 60px;
}

.about-col2{
    flex-basis: 60%;
    position:relative;
    padding-bottom: 10px;
}

.subtitle{
    font-size: 80px;
    font-weight: bold;
    color: white;
    position: relative;
    display: inline-block;
   
}

.subtitle::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 4px;
    background-color: #0F8B8D; 
    animation: underline 8s forwards;
}
@keyframes underline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.content{
    font-size: 30px;
    font-weight: 100;
    font-family: 'Lucida Sans Regular';
    
}
/*----------------skills----------------*/

#skills {
    margin-top: 40px;;
    border-color: white;
}
.skills-left{
    margin-left: -100px;
    flex-basis: 60%;
    position:relative;
    padding-bottom: 10px;
}


.skills-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 0.001px;
    width: 80%; 
    margin-left:600px;
    margin-top: -700px;
    padding: 100px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.skill-logo {
    width: 85px;
    height: 85px;
    background-color: #0F8B8D;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-logo > i {
    font-size: 40px; 
    color: white; 
}

.skill-title {
    font-size: 20px; 
    margin-top: 10px;
    color: white;
    text-align: center;
}

/*-----------------------projects------------------*/
#projects {
    margin-top: 40px;
    margin-left: -50px;
    padding: 30px 0;
}

.swiper {
    width: 1200px;
    height: 500px;
  }

.swiper-button-next::after, .swiper-button-prev::after {
    color:#262626;
    font-size: 20px; 
}

#projects h1{
    font-size: 80px;
    font-weight: bold;
    color: white;
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    margin-left: 100px;
}

#projects h2{
    font-size:50px;
}
#projects p{
    font-size: 30px;
}
#projects h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 4px;
    background-color: #0F8B8D; 
    animation: underline 8s forwards;
}

.swiper-slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 100px;
    background-color: #0F8B8D;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.swiper-wrapper  .swiper-slide p{
    font-size:20px;
}
 .project-button {
    text-decoration: none;
    margin-top: 50px;
    margin-left: 35%;
    padding: 10px 35px;
    border-radius: 6px;
    border-color: #0F8B8D;
    cursor:pointer;
    background: white;
    border: 1px solid transparent;
    transition: 0.2s ease;
}
.project-button:hover{
    background: rgba(255,255,255,0.1);
    border: 1px solid white;
    color:white;
}
.swiper-wrapper  .swiper-slide .project-button a{
    text-decoration: none;
    color:#262626;
    font-weight:bold;
    font-size: 25px;
} 

/*------------------Experience-----------*/
#experience h1{
    font-size: 80px;
    font-weight: bold;
    color: white;
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    margin-left: 60px;
}

#experience h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 4px;
    background-color: #0F8B8D; 
    animation: underline 8s forwards;
}

#experience h2{
    font-size:50px;
}
#experience p{
    font-size: 30px;
}

/*------------contact-----------*/

.contact-left {
   
    flex-basis: 45%;
}
.contact-right {
    margin-left: 40px;
    flex-basis: 50%;
}
#contact .subtitle {
    margin-bottom: 20px;
    margin-left:-100px;
}
.contact-label {
    color: white; 
    font-weight: bold;
    margin-top: 30px;
    font-size: 20px;
    margin-left: -100px;
    
}
.social-icons{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: -100px;
}
.icon{
   margin-right: 10px;
}

.social-icons a{
    text-decoration: none;
    font-size: 60px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #0F8B8D;
    transform: translateY(-5px);
}


.contact-button {
    text-decoration: none;
    margin-top: 20px;
    margin-left: -105px;
    padding: 10px 35px;
    border-radius: 6px;
    border-color: #0F8B8D;
    cursor:pointer;
    background: #262626;
    border: 1px solid #0F8B8D;
    transition: 0.2s ease;
    color: white;
}
.contact-button:hover{
    background:#0F8B8D;
    border: 1px solid #0F8B8D;
    color:white;
}

.contact-button-btn {
    text-decoration: none; 
    padding: 10px 35px;
    border-radius: 6px;
    border-color: #0F8B8D;
    cursor:pointer;
    background: #262626;
    border: 1px solid #0F8B8D;
    transition: 0.2s ease;
    color: white;
}
.contact-button-btn:hover{
    background:#0F8B8D;
    border: 1px solid #0F8B8D;
    color:white;
}

.contact-right form{
    width: 100%;

}
form p{
    font-size: 30px;
}
form input, form textarea{
    width: 100%;
    border:0;
    outline: none;
    background:#3e3e3ed0;
    padding: 15px;
    margin: 15px 0;
    color:white;
    font-size: 20px;
    border-radius: 6px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #3e3e3ed0;
    font-weight: 300;
    margin-top: 20px;
}

#msg{
    color: #0F8B8D;
    display: block;
    margin-top: 6px;
}
